Repository ApacheInfra/celeborn, changes with the labels that .github/labeler.yml gives for each.
All labels: kind:build, kind:deploy, kind:documentation, kind:infra, module:client, module:flink, module:spark, module:master, module:worker, module:kubernetes, module:service, module:integration-tests

[CELEBORN-1683] Support to get worker version
  build/celeborn-build-info
  build/celeborn-build-info.ps1
  common/pom.xml
  common/src/main/proto/TransportMessages.proto
  common/src/main/scala/org/apache/celeborn/common/CelebornBuildInfo.scala
  common/src/main/scala/org/apache/celeborn/common/meta/WorkerInfo.scala
  common/src/main/scala/org/apache/celeborn/common/package.scala
  common/src/main/scala/org/apache/celeborn/common/protocol/message/ControlMessages.scala
  common/src/main/scala/org/apache/celeborn/common/util/PbSerDeUtils.scala
  common/src/test/scala/org/apache/celeborn/common/CelebornBuildInfoSuite.scala
  common/src/test/scala/org/apache/celeborn/common/util/PbSerDeUtilsTest.scala
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/AbstractMetaManager.java
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/IMetadataHandler.java
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/SingleMasterMetaManager.java
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/ha/HAMasterMetaManager.java
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/ha/MetaHandler.java
  master/src/main/proto/Resource.proto
  master/src/main/scala/org/apache/celeborn/service/deploy/master/Master.scala
  master/src/test/java/org/apache/celeborn/service/deploy/master/clustermeta/DefaultMetaSystemSuiteJ.java
  master/src/test/java/org/apache/celeborn/service/deploy/master/clustermeta/ha/MasterStateMachineSuiteJ.java
  master/src/test/java/org/apache/celeborn/service/deploy/master/clustermeta/ha/RatisMasterStatusSystemSuiteJ.java
  openapi/openapi-client/src/main/java/org/apache/celeborn/rest/v1/model/WorkerData.java
  openapi/openapi-client/src/main/java/org/apache/celeborn/rest/v1/model/WorkerInfoResponse.java
  openapi/openapi-client/src/main/openapi3/master_rest_v1.yaml
  openapi/openapi-client/src/main/openapi3/worker_rest_v1.yaml
  project/CelebornBuild.scala
  service/src/main/scala/org/apache/celeborn/server/common/http/api/v1/ApiUtils.scala
  worker/src/main/scala/org/apache/celeborn/service/deploy/worker/Worker.scala
  worker/src/test/scala/org/apache/celeborn/service/deploy/worker/http/api/v1/ApiV1OpenapiClientSuite.scala
  worker/src/test/scala/org/apache/celeborn/service/deploy/worker/http/api/v1/ApiV1WorkerResourceSuite.scala
Labels: kind:build, module:master, module:worker, module:service

[CELEBORN-1793] Add netty pinned memory metrics
  assets/grafana/celeborn-dashboard.json
  common/src/main/java/org/apache/celeborn/common/network/util/NettyMemoryMetrics.java
Labels: none

change Exception to runtimeException
  client-flink/common/src/main/java/org/apache/celeborn/plugin/flink/RemoteShuffleInputGateDelegation.java
  client-flink/common/src/main/java/org/apache/celeborn/plugin/flink/RemoteShuffleOutputGate.java
  client-flink/common/src/main/java/org/apache/celeborn/plugin/flink/readclient/FlinkShuffleClientImpl.java
  client-flink/flink-1.20/src/main/java/org/apache/celeborn/plugin/flink/tiered/CelebornTierProducerAgent.java
  client-mr/mr/src/main/java/org/apache/hadoop/mapreduce/task/reduce/CelebornShuffleConsumer.java
  client/src/main/java/org/apache/celeborn/client/ShuffleClient.java
  client/src/main/java/org/apache/celeborn/client/ShuffleClientImpl.java
Labels: module:client, module:flink

revert exception
  client-flink/flink-1.20/src/main/java/org/apache/celeborn/plugin/flink/tiered/CelebornTierConsumerAgent.java
Labels: module:flink

move retry into rpc
  client/src/main/java/org/apache/celeborn/client/ShuffleClientImpl.java
  common/src/main/scala/org/apache/celeborn/common/CelebornConf.scala
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEndpointRef.scala
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEnv.scala
  docs/configuration/client.md
  docs/configuration/network.md
Labels: kind:documentation, module:client

Compatible with UT
  client/src/test/java/org/apache/celeborn/client/ShuffleClientSuiteJ.java
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEndpointRef.scala
Labels: module:client

useless change
  client/src/test/java/org/apache/celeborn/client/ShuffleClientSuiteJ.java
Labels: module:client

interruptedException
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEndpointRef.scala
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEnv.scala
Labels: none

config
  client/src/main/java/org/apache/celeborn/client/ShuffleClientImpl.java
  common/src/main/scala/org/apache/celeborn/common/CelebornConf.scala
  docs/configuration/client.md
  docs/configuration/network.md
Labels: kind:documentation, module:client

networker config
  docs/configuration/network.md
Labels: kind:documentation

revert import change by reformat
  client/src/main/java/org/apache/celeborn/client/ShuffleClientImpl.java
Labels: module:client

update client-specified retryWait
  client/src/main/java/org/apache/celeborn/client/ShuffleClientImpl.java
  client/src/test/java/org/apache/celeborn/client/ShuffleClientSuiteJ.java
  common/src/main/scala/org/apache/celeborn/common/CelebornConf.scala
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEndpointRef.scala
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEnv.scala
  docs/configuration/client.md
  docs/configuration/network.md
Labels: kind:documentation, module:client

network md file change
  docs/configuration/network.md
Labels: kind:documentation

change waitTime to same name
  common/src/main/scala/org/apache/celeborn/common/CelebornConf.scala
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEndpointRef.scala
  common/src/main/scala/org/apache/celeborn/common/rpc/RpcEnv.scala
Labels: none

[CELEBORN-1800] Introduce ApplicationTotalCount and ApplicationFallbackCount metric to record the total and fallback count of application
  assets/grafana/celeborn-dashboard.json
  client-flink/common/src/main/java/org/apache/celeborn/plugin/flink/RemoteShuffleMaster.java
  client-spark/spark-2/src/main/java/org/apache/spark/shuffle/celeborn/SparkShuffleManager.java
  client-spark/spark-2/src/main/scala/org/apache/spark/shuffle/celeborn/CelebornShuffleFallbackPolicyRunner.scala
  client-spark/spark-3-4/src/main/java/org/apache/spark/shuffle/celeborn/SparkShuffleManager.java
  client-spark/spark-3-4/src/main/scala/org/apache/spark/shuffle/celeborn/CelebornShuffleFallbackPolicyRunner.scala
  client/src/main/scala/org/apache/celeborn/client/ApplicationHeartbeater.scala
  client/src/main/scala/org/apache/celeborn/client/LifecycleManager.scala
  common/src/main/proto/TransportMessages.proto
  common/src/main/scala/org/apache/celeborn/common/protocol/message/ControlMessages.scala
  common/src/main/scala/org/apache/celeborn/common/util/PbSerDeUtils.scala
  docs/monitoring.md
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/AbstractMetaManager.java
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/IMetadataHandler.java
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/SingleMasterMetaManager.java
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/ha/HAMasterMetaManager.java
  master/src/main/java/org/apache/celeborn/service/deploy/master/clustermeta/ha/MetaHandler.java
  master/src/main/proto/Resource.proto
  master/src/main/scala/org/apache/celeborn/service/deploy/master/Master.scala
  master/src/main/scala/org/apache/celeborn/service/deploy/master/MasterSource.scala
  master/src/test/java/org/apache/celeborn/service/deploy/master/clustermeta/DefaultMetaSystemSuiteJ.java
  master/src/test/java/org/apache/celeborn/service/deploy/master/clustermeta/ha/RatisMasterStatusSystemSuiteJ.java
Labels: kind:documentation, module:client, module:flink, module:spark, module:master

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

"kind:build":
  - ".rat-excludes"
  - ".scalafmt.conf"
  - "**/*pom.xml"
  - "build/**/*"
  - "docker/**/*"
  - "project/**/*"
  - "requirements.txt"
  - "version.sbt"
  - any: [ "dev/**/*", "!dev/checkout_pr.sh", "!dev/merge_pr.py" ]

"kind:deploy":
  - "sbin/**/*"
  - "bin/**/*"

"kind:documentation":
  - "*.md"
  - "conf/**/*"
  - "docs/**/*"
  - "mkdocs.yml"
  - "*.drawio"
  - "*.png"
  - "*.jpg"
  - "*.webp"

"kind:infra":
  - ".asf.yaml"
  - ".gitattributes"
  - ".github/**/*"
  - ".gitignore"
  - "LICENSE"
  - "LICENSE-binary"
  - "NOTICE"
  - "NOTICE-binary"
  - "codecov.yml"
  - "licenses-binary/**/*"

"module:client":
  - "client/**/*"

"module:flink":
  - "client-flink/**/*"
  - "tests/flink-it/**/*"

"module:spark":
  - "client-spark/**/*"
  - "tests/spark-it/**/*"

"module:master":
  - "master/**/*"

"module:worker":
  - "worker/**/*"

"module:kubernetes":
  - "docker/**/*"
  - "test/kubernetes-it/**/*"

"module:service":
  - "service/**/*"

"module:integration-tests":
  - "tests/**/*"
  - "toolkit/**/*"
